/* FONT FAMILY LINK */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* General reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* colors */
:root {
  --violet: hsl(257, 40%, 49%);
  --soft_magenta: hsl(300, 69%, 71%);
  --white: #fff;
}

/* Body */
body {
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: var(--violet);
  font-family: "Open Sans", sans-serif;
}
/* container section */
.container {
  padding: 2% 5%;
}
/* nav section */
nav img {
  max-width: 13%;
  margin-bottom: 50px;
}

/* section */
section {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.container-2 {
  color: var(--white);
  line-height: 1.5;
  margin: 40px 0px 40px 40px;
}

.container-2 h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 80%;
}

.container-2 p {
  font-size: 16px;
  width: 84%;
  margin: 25px 0;
}

/* button */
button {
  color: var(--violet);
  background-color: var(--white);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 15px 60px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--soft_magenta);
  color: var(--white);
}

/* footer */
.attribution {
  font-size: 18px;
  text-align: center;
}
.attribution a {
  color: var(--white);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--soft_magenta);
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 20px;
}
footer .social-media {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

footer .circle {
  border: 1px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;

  text-decoration: none;
}

footer .circle:hover {
  border: 1px solid var(--soft_magenta);
  color: var(--soft_magenta);
}

/* media query for mobile devices */
@media only screen and (max-width: 375px) {
  body {
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--violet);
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .container-1 img {
    width: 100%;
  }

  nav img {
    max-width: 50%;
    margin-top: 20px;
  }

  .container-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 4px solid red; */
    margin: 10px auto 20px auto;
  }

  .container-2 h2 {
    font-size: 29px;
    font-weight: 600;

    width: 95%;
  }

  .container-2 p {
    width: 96%;
    margin: 25px 0;
    text-align: center;
  }

  footer .social-media {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 50px 0;
  }

  .attribution {
    font-size: 15px;
  }
}

/* media query medium screens */
@media only screen and (max-width: 885px) {
  body {
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--violet);
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .container-1 img {
    width: 100%;
  }

  nav img {
    max-width: 50%;
    margin-top: 20px;
  }

  .container-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 4px solid red; */
    margin: 10px auto 20px auto;
  }

  .container-2 h2 {
    font-size: 29px;
    font-weight: 600;

    width: 95%;
  }

  .container-2 p {
    width: 96%;
    margin: 25px 0;
    text-align: center;
  }

  footer .social-media {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 50px 0;
  }

  .attribution {
    font-size: 15px;
  }
}
